In [66]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [67]:
driver = webdriver.Chrome()

In [68]:
driver.get(' https://www.amazon.in/gp/bestsellers/books/ ')

In [69]:
titles_data = []

In [70]:
titles = driver.find_elements(By.XPATH,'//span/div')
for title in titles:
    print(title.text)
    titles_data.append(title.text)

EN
Why Bharat Matters
Atomic Habits
The Psychology Of Money
Don't Believe Everything You Think (English)
The Power of Your Subconscious Mind: Original Edition | Premium Paperback
Rupesh Thakur Prasad Panchang 2024 /Thakur Prasad Medium Colorful Hindi Panchang Calendar 2024
RUPESH
My First Library: Boxset of 10 Board Books for Kids
Educart CBSE Class 10 Final Revision Book for 2024 - Maths + Science + SST + English (Includes Additional Sample Papers for 2023-24)
All Religions Are Not The Same
The Art of Laziness: Overcome Procrastination & Improve Your Productivity
Shrimad Bhagwat Geeta Yatharoop
Ikigai
MINtile Sank Magic Practice Copybook, (4 Book + 10 Refill) Number Tracing Book for Preschoolers with Pen, Magic Calligraphy Copybook Set Practical Reusable Writing Tool Simple Hand Lettering
Sank Magic
Nenu (Atmakatha in Telugu)
Brahmanandam
MATHS SSC GD WARRIOR by ADITYARANJAN SIR
Aditya Ranjan
Do It Today: Overcome procrastination, improve productivity and achieve more meaningful things [Paperback] Foroux, Darius
33 Days Challenge CBSE Class 10 Final Revision Book Pack of 3 Mathematics Standard Science Social Science for 2024 Board Exam (Includes Sample Papers) by Padhle Akshay
Akshay Kumar
Taxmann’s New Criminal Laws Combo – Bharatiya Nyaya Sanhita 2023 (BNS) | Bharatiya Nagarik Suraksha Sanhita 2023 (BNSS) | Bharatiya Sakshya Adhiniyam 2023 (BSA) | 3 Books Set
My First Book of Patterns Pencil Control: Patterns Practice book for kids (Pattern Writing)
Oswaal CBSE Sample Question Papers Class 10 Science Book (For Board Exams 2024) | 2023-24
Oswaal Editorial Board
Tuesdays With Morrie: An old man, a young man, and life's greatest lesson [Paperback] Albom, Mitch
201 Brain Booster Activity Book - Fun Activities and Exercises For Children: Tracing & Pattern, Colors & Shapes, Maze
The Power of Your Subconscious Mind
THE SILENT PATIENT [Paperback] Michaelides, Alex
Colouring Books Boxset: Pack of 12 Copy Colour Books For Children
Bhavishya Malika Puran / भविष्य मालिका पुराण: 2032 से सत्य युग की शुरुआत... / 2032 se Satya Yug ki Shuruaat...
Pandit Shri Kashinath Mishr Ji
Rich Dad Poor Dad: 25th Anniversary Edit
UP Constable MATHS by Aditya Ranjan Sir
Aditya Ranjan
THE 48 LAWS OF POWER
How to Win Friends and Influence People : Original Edition | Premium Paperback

English

In [71]:
titles_df = pd.DataFrame(titles_data)
titles_CSV = titles_df.to_csv('titles.csv' ,header= False , index=False)

In [72]:
prices_data = []

In [73]:
prices = driver.find_elements(By.XPATH,'//div/span/span')
for price in prices:
    print(price.text)
    prices_data.append(price.text)

₹560.00
₹540.00
₹275.00
₹187.00
₹115.00
₹70.00
₹399.00
₹449.00
₹358.00
₹189.00
₹240.00
₹346.00
₹120.00
₹159.00
₹144.00
₹709.00
₹630.00
₹89.00
₹303.00
₹192.00
₹99.00
₹99.00
₹206.00
₹329.00
₹212.00
₹435.00
₹145.00
₹628.00
₹99.00

In [74]:
prices_csv = pd.DataFrame(prices_data).to_csv('prices.csv' , header=False , index=False)

In [75]:
prices_df = pd.DataFrame(prices_data)

In [76]:
book_data = [titles_df , prices_df]

In [77]:
res = pd.concat(book_data , axis = 1)

In [78]:
re_csv = res.to_csv('book_data.csv' , header= False , index=False)

In [79]:
driver.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')

In [80]:
rank = driver.find_elements(By.XPATH ,'//tr/td[@class =\'a-text-right mojo-header-column mojo-truncate mojo-field-type-rank\']')
rank_list = []
for item in rank:
    rank_list.append(item.text)

In [81]:
title =driver.find_elements(By.XPATH,'//tr/td[@class =\'a-text-left mojo-field-type-title\']/a')
title_list = []
for item in title:
    title_list.append(item.text)

In [82]:
lifetime = driver.find_elements(By.XPATH,'//tr/td[@class =\'a-text-right mojo-field-type-money\']')
lifetime_list = []
for item in lifetime:
    lifetime_list.append(item.text)

In [83]:
year = driver.find_elements(By.XPATH,'//tr/td[@class =\'a-text-left mojo-field-type-year\']/a')
year_list = []
for item in year:
    year_list.append(item.text)

In [84]:
all_data = {'rank': rank_list, 'title':title_list ,'lifetime Growth':lifetime_list,'year':year_list}
all_dataframe = pd.DataFrame(all_data)

In [85]:
all_dataframe.head()

  rank                                       title lifetime Growth  year
0    1                                      Avatar  $2,923,706,026  2009
1    2                           Avengers: Endgame  $2,799,439,100  2019
2    3                    Avatar: The Way of Water  $2,320,250,281  2022
3    4                                     Titanic  $2,264,743,305  1997
4    5  Star Wars: Episode VII - The Force Awakens  $2,071,310,218  2015

In [86]:
all_Data_csv = all_dataframe.to_csv('All_data.csv' , header = False , index = False)